body {
  background-color: darkblue;
  cursor: cell;
}

.h1 {
  font-family: "VT323", monospace;
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  position: relative;
  bottom: 9px;
}

.line {
    border: block;
    height: 1px;
    margin-bottom: 72px;
    position: relative;
    bottom: 17px;
    color: #55ffffff;
    background-color: #55ffffff;
}

.linkies {
  width: 800px;
  height: 0px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #aaaaaa;
  border-radius: 2px;
  margin-bottom: 90px;
}

.kicker {
    width: 500px;
  height: 130px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #aaaaaa;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.box1 {
  width: 500px;
  height: 130px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #aaaaaa;
  border-radius: 2px;
  margin-bottom: 20px;
}

.box2 {
  width: 500px;
  height: 130px;
  padding: 80px;
  display: ;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #aaaaaa;
  border-radius: 2px;
  margin
}

.box3 {
  width: 500px;
  height: 130px;
  padding: 80px;
  display: ;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #aaaaaa;
  border-radius: 2px;
  margin-top: 20px;
}


div {
  box-shadow: inset 0 0 0 8px #aaaaaa, inset 0 0 0 10px white;
}

button {
  background-color: #aaaaaa;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "VT323", monospace;
  font-size: 40px;
  font-weight: 200;
  font-style: normal;
}

button:hover {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "VT323", monospace;
  font-size: 40px;
  font-weight: 200;
  font-style: normal;
  cursor: cell;
}

.p1 {
  font-family: "VT323", monospace;
  font-size: 35px;
  font-weight: 200;
  font-style: normal;
}

.p2 {
  font-family: "VT323", monospace;
  font-size: 40px;
  font-weight: 200;
  font-style: normal;
  position: relative;
  bottom: 100px;
  left: 0%;
}

.p2:hover {
  font-family: "VT323", monospace;
  font-size: 40px;
  font-weight: 200;
  font-style: normal;
  background-color: blue;
  position: relative;
  bottom: 100px;
  left: 0%;
  color: white;
  cursor: cell;
}

.p3 {
  font-family: "VT323", monospace;
  font-size: 33px;
  font-weight: 200;
  font-style: normal; 
  position: relative;
  bottom: 100px;
  left: 0%;
}

.p4 {
  font-family: "VT323", monospace;
  font-size: 40px;
  font-weight: 200;
  font-style: normal;
  position: relative;
  bottom: 100px;
  left: 0%;
}

.p4:hover {
  font-family: "VT323", monospace;
  font-size: 40px;
  font-weight: 200;
  font-style: normal;
  background-color: blue;
  position: relative;
  bottom: 100px;
  left: 0%;
  color: white;
  cursor: cell;
}

.p5 {
  font-family: "VT323", monospace;
  font-size: 33px;
  font-weight: 200;
  font-style: normal; 
  position: relative;
  bottom: 120px;
  left: 0%;
}
